data/automatizations/MailManager.json
{
  "name": "Clasificador Correos Alcaldia (Gemini)",
  "nodes": [
    {
      "parameters": {},
      "id": "Gmail Trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [200, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "subject", "value": "={{$json.subject}}" },
            { "name": "body", "value": "={{$json.snippet}}" },
            { "name": "from", "value": "={{$json.from}}" }
          ]
        }
      },
      "id": "Set",
      "name": "Preprocesar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Eres un sistema de clasificación para la Alcaldía de Medellín.\\n\\nDebes:\\n1. Identificar la dependencia responsable\\n2. Asignar un estado: URGENTE, PRIORITARIO o NORMAL\\n\\nResponde SOLO en JSON con este formato:\\n{\\n  \\\"dependencia\\\": \\\"...\\\",\\n  \\\"estado\\\": \\\"...\\\",\\n  \\\"justificacion\\\": \\\"...\\\"\\n}\\n\\nCorreo:\\nAsunto: {{$json.subject}}\\nContenido: {{$json.body}}\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "id": "Gemini",
      "name": "Clasificar IA (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 300]
    },
    {
      "parameters": {
        "functionCode": "const text = $json.candidates[0].content.parts[0].text;\nconst clean = text.replace(/```json|```/g, '').trim();\nconst parsed = JSON.parse(clean);\nreturn [{ json: parsed }];"
      },
      "id": "Parse",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [800, 300]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [[{ "node": "Preprocesar", "type": "main", "index": 0 }]]
    },
    "Preprocesar": {
      "main": [[{ "node": "Clasificar IA (Gemini)", "type": "main", "index": 0 }]]
    },
    "Clasificar IA (Gemini)": {
      "main": [[{ "node": "Parse JSON", "type": "main", "index": 0 }]]
    }
  }
}