data/automatizations/SocialScrapping.json
{
  "name": "PQRSDf Social Media Listener",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "Cron",
      "name": "Cada 10 min",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/PAGE_ID/posts?fields=comments{message,from,permalink_url,created_time}&access_token=ACCESS_TOKEN",
        "method": "GET"
      },
      "id": "FB API",
      "name": "Obtener Comentarios",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, 300]
    },
    {
      "parameters": {
        "functionCode": "// Extraer comentarios\nconst posts = $json.data || [];\nlet results = [];\n\nfor (const post of posts) {\n  const comments = post.comments?.data || [];\n  for (const c of comments) {\n    results.push({\n      body: c.message,\n      link: c.permalink_url,\n      from: c.from?.name\n    });\n  }\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "Parse Comments",
      "name": "Parse Comments",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": \"Clasifica este comentario ciudadano como PQRSDf para la Alcaldía de Medellín.\\n\\nComentario: {{$json.body}}\\n\\nResponde SOLO en JSON con classification, assigned_department, status, summary, confidence\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "id": "Gemini",
      "name": "Clasificar IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 300]
    },
    {
      "parameters": {
        "functionCode": "// mismo parser que ya tienes\nlet raw = $json?.content?.parts?.[0]?.text || \"\";\nlet clean = raw.replace(/```json|```/g, '').trim();\nlet match = clean.match(/\\{[\\s\\S]*\\}/);\nlet parsed = JSON.parse(match[0]);\nparsed.confidence = Number(parsed.confidence) || 0;\nreturn [{ json: { ...$json, ...parsed } }];"
      },
      "id": "Parse",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO PQRSDf (content, channel, classification, assigned_department, status, summary, confidence) VALUES ($1,$2,$3,$4,$5,$6,$7)",
        "additionalFields": {
          "queryParams": [
            "={{$json.body}}",
            "social",
            "={{$json.classification}}",
            "={{$json.assigned_department}}",
            "={{$json.status}}",
            "={{$json.summary}}",
            "={{$json.confidence}}"
          ]
        }
      },
      "id": "DB",
      "name": "Guardar",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "Cada 10 min": {
      "main": [[{ "node": "Obtener Comentarios", "type": "main", "index": 0 }]]
    },
    "Obtener Comentarios": {
      "main": [[{ "node": "Parse Comments", "type": "main", "index": 0 }]]
    },
    "Parse Comments": {
      "main": [[{ "node": "Clasificar IA", "type": "main", "index": 0 }]]
    },
    "Clasificar IA": {
      "main": [[{ "node": "Parse JSON", "type": "main", "index": 0 }]]
    },
    "Parse JSON": {
      "main": [[{ "node": "Guardar", "type": "main", "index": 0 }]]
    }
  }
}